<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>

<div id="app">
    <h1>zalupka</h1>
    <ul>
        <li v-for="(item, index) in items">
            {{ item.name }}
            <button @click="items.splice(index, 1)">-</button>
            --
            {{ item.cost }} amd
            <span v-for="person in persons">
                <button
                        v-if="item.persons.includes(person)"
                        @click="remove_person_from_item(item, person)"
                >
                    remove {{ person }}
                </button>
            </span>
            <span v-if="item.persons.length !== persons.length">
                --
                <span v-for="person in persons">
                    <button
                            v-if="!item.persons.includes(person)"
                            @click="add_person_to_item(item, person)"
                    >
                        add {{ person }}
                    </button>
                </span>
            </span>

        </li>
    </ul>

    <p>
        Add
        <input v-model="new_item">
        <input v-model="new_cost">
        <button @click="add_item(items, new_item, new_cost)">add</button>
    </p>

    <p>
        Total: {{ calculate_total(items) }} amd
    </p>
    <ul>
        <li v-for="(share, key) in calculate_shares(items)">
            {{ key }} -- {{ Math.floor(share) }} amd
            <button @click="remove_person(key, persons, items)">remove {{ key }}</button>
        </li>
        <li>
            <button @click="add_person(new_person, persons, items)">Add</button>
            <input v-model="new_person"></li>
    </ul>
    <p>
        <a :href="'#' + generate_hash_value(persons, items)">Persistent link</a>
    </p>
</div>


<script>
    const {ref, createApp} = Vue

    const parse_init_data = function (hash_value) {
        if (hash_value.length < 2) {
            return {
                persons: ["Alice", "Bob"],
                items: []
            }
        } else {
            return JSON.parse(atob(hash_value.substring(1)))
        }
    }

    const generate_hash_value = function (persons, items) {
        return btoa(JSON.stringify({persons: persons, items: items}))
    }

    const {persons, items} = parse_init_data(window.location.hash)

    const new_item = ref("item")
    const new_cost = ref(0)
    const new_person = ref("someone")

    const add_person_to_item = function (item, person) {
        const index = item.persons.indexOf(person)
        if (index === -1) {
            item.persons.push(person)
        }
    }

    const remove_person_from_item = function (item, person) {
        const index = item.persons.indexOf(person)
        if (index !== -1) {
            item.persons.splice(index, 1)
        }
    }

    const add_item = function (items, name, cost) {
        let parsedCost = parseInt(cost);
        if(parsedCost) {
            items.push(
                {
                    name: name,
                    cost: parsedCost,
                    persons: [...persons]
                }
            )
            new_item.value = "item"
            new_cost.value = 0
        }
    }

    const calculate_shares = function (items) {
        const shares = {}
        for (const person of persons) {
            shares[person] = 0
        }
        for (const item of items) {
            for (const person of item.persons) {
                shares[person] += item.cost / item.persons.length
            }
        }
        return shares
    }

    const calculate_total = function (items) {
        let cost = 0
        for (const item of items) {
            cost += item.cost
        }
        return cost
    }

    const add_person = function (person, persons, items) {
        const index = persons.indexOf(person)
        if (index === -1) {
            persons.push(person)
            for (const item of items) {
                add_person_to_item(item, person)
            }
        }
        new_person.value = "someone"
    }

    const remove_person = function (person, persons, items) {
        const index = persons.indexOf(person)
        if (index !== -1) {
            persons.splice(index, 1)
            for (const item of items) {
                remove_person_from_item(item, person)
            }
        }
    }

    createApp({
        data() {
            return {
                items: items,
                new_item: new_item,
                new_cost: new_cost,
                new_person: new_person,
                persons: persons,
                add_person_to_item: add_person_to_item,
                remove_person_from_item: remove_person_from_item,
                add_item: add_item,
                calculate_shares: calculate_shares,
                calculate_total: calculate_total,
                add_person: add_person,
                remove_person: remove_person,
                generate_hash_value: generate_hash_value
            }
        }
    }).mount("#app")


</script>

</body>
</html>